<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Word Column -->
  <ng-container matColumnDef="word">
    <th mat-header-cell *matHeaderCellDef> Word </th>
    <td mat-cell *matCellDef="let element"> {{element.word}} </td>
  </ng-container>

  <!-- Translation Column -->
  <ng-container matColumnDef="translation">
    <th mat-header-cell *matHeaderCellDef> Translation </th>
    <td mat-cell *matCellDef="let element"> {{element.translation}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

